html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 24px;
}

small {
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2em 1.5em 2em;
}

.accent {
  color: #02eaff;
}

.navbar img {
  border-radius: 50%;
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container {
  padding: 0 5em 5em 5em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.row > * {
  flex: 1 1 20em;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #fff;
  padding: 3.5px;
  border: none;
  border-bottom: 2.5px solid;
  border-color: #02eaff;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: border-color 0.15s ease-in;
}

.btn:hover {
  border-color: #000;
}

.hero {
  text-align: center;
}

.hero h1 {
  line-height: 0.75em;
}

.footer {
  background-color: #02eaff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 15em;
  justify-content: center;
  padding: 0 1.5em 1.5em 1.5em;
}

.about-entry > * {
  margin: 0.5em 0 0 0;
}

.about-entry {
  margin-bottom: 2.5em;
}
