body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  color: #fff;
  background-color: #252525;
  background-image: url("../public/assets/images/bg-rectangle.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0.15em;
  margin-bottom: 0.35em;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
}

h3 {
  font-size: 24px;
  font-weight: 300;
}

h4 {
  font-weight: 300;
}

h5 {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

.navbar a:hover {
  color: #00adbd;
  text-decoration: underline;
}

p {
  line-height: 24px;
}

small {
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 5em 0.5em 5em;
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;

  z-index: 1;
}

.accent {
  color: #02c7d9;
}

.navbar img {
  border-radius: 50%;
}

.nav-links {
  /* width: 15%; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5em;
  color: #252525;
  order: 1;
}

.footer .nav-links {
  width: 40%;
}

.container {
  padding: 0 5em 0 5em;
  margin: 3.5em 0 10em 0;
}

.hero {
  padding-top: 7.5em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.row > * {
  flex: 1 1 20em;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  color: #fff;
  background-color: inherit;
  padding: 24px 48px 24px 48px;
  border-radius: 24px;
  border: 2.5px solid;

  border-color: #02c7d9;
  font-family: inherit;
  font-weight: 400;
  cursor: pointer;
  font-size: 24px;
  transition: border-color 0.1s ease-in;
}

.btn-primary {
  padding: 14px 28px;
  background-color: #02c7d9;
  color: #252525;
  font-size: 14px;
}

.btn:hover {
  border-color: #fff;
  background-color: #252525;
  color: #02c7d9;
}

.btn-primary:hover {
  background-color: #00adbd;
  border-color: #00adbd;
  color: #252525;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 3.75em;
  padding: 5em;
  margin-top: 5em;
}

.about-entry > * {
  margin: 0.5em 0 0 0;
}

.about-entry {
  margin-bottom: 2.5em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  padding: 0 25%;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input > input,
textarea {
  flex-grow: 1;
  max-width: 40rem;
  padding: 1em;
}

.column {
  position: relative;
}

.box {
  background-color: #fff;
  position: absolute;
  width: 20em;
  height: 20em;
  border-radius: 36px;
  top: 5%;
  left: 25%;
  transform: rotate(-17.9deg);
}

.box2 {
  transform: rotate(25.3deg);
  background-color: #02c7d9;
}

.box3 {
  transform: rotate(3.2deg);
  border-radius: 500px;
  background: url(../public/assets/images/david.png);
  background-size: cover;
}

.line {
  width: 60px;
  border: 1px solid #02c7d9;
}

.divider {
  width: 100%;
  border: 0.5px solid #fff;
}

.workCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 16px;
  height: 30rem;
  min-width: 30em;
  padding: 2.5em;

  background: linear-gradient(11.77deg, #252525 7.74%, rgba(0, 0, 0, 0) 97.93%),
    url(../public/assets/images/project.png);
  border-radius: 36px;
}

.tag-row {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
}

.work-row {
  display: flex;
  margin-top: 1em;
  margin-bottom: 2em;

  padding-top: 1.5em;

  top: 0;
  gap: 16px;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 8em;
  height: 2em;
  border: 1px solid #02c7d9;
  border-radius: 16px;
}

.slide-out {
  position: fixed;

  z-index: 10;

  width: 100%;
  background: #02c7d9;
}

.overflow-hidden {
  overflow: hidden;
}
